{% load static %}
{% load templateTags %}

{% comment %} <p> {{imgLink}}</p> {% endcomment %}

{% with imageArr=paraBundle.classes.imgLinks|getImages:project.staticLinkToProject styleEntries=paraBundle.classes.style|unwrapStringList:"_"%}


    {% if imageArr|arrLength == "1" %}


        {% with imageName=imageArr|arrGetValueFromIndex:"0" %}
        <img    
        src="{% static project.staticLinkToProject|fullLinkToFile:imageName %}" 
        alt={{imageName}}

        {% if styleEntries|getListEntry:"1" == "wide" %}

        class="w-full max-w-5xl"

        {% else %}
        class="w-8/12 md:w-6/12 xl:w-5/12 2xl:w-3/12"

        {% endif %}

        >
    {% endwith %}

    {% else %}
        
        {% if styleEntries|getListEntry:"1" != "image" %}

            {% with styleFourth=styleEntries|getListEntry:"3" %}

                {% if styleFourth == "row" %}
                    <div class="relative flex justify-center items-center flex-col w-3/5 md:w-2/5 2xl:w-2/6 basis-4/12">

                        {% for imageName in imageArr %}

                            <img    
                            src="{% static project.staticLinkToProject|fullLinkToFile:imageName %}" 
                            alt={{imageName}}
                            class="object-contain"
                            >

                        {% endfor %}
                    </div>
                
                {% elif styleFourth == "block" %}
                    <div class="
                    pt-8 relative flex justify-center items-center flex-row flex-wrap md:w-10/12 w-full 
                    ">
                        {% for imageName in imageArr %}
                            
                            <img    
                            src="{% static project.staticLinkToProject|fullLinkToFile:imageName %}" 
                            alt={{imageName}}
                            class="
                            object-contain
                            md:h-56 md:w-56
                            h-48 w-48
                            p-2 object-contain
                            "
                            >

                        {% endfor %}
                    </div>

                {% endif %}

            {% endwith %}
        
        {% else %}
                <div class="pt-8 relative flex justify-center items-center flex-row flex-wrap md:w-10/12 w-full ">

                {% for imageName in imageArr %}

                    <img    
                    src="{% static project.staticLinkToProject|fullLinkToFile:imageName %}" 
                    alt={{imageName}} 
                    {% comment %} class="relative p-2 w-5/12 md:w-4/12 md:w-3/12 object-contain" {% endcomment %}
                    class="
                    sm:max-h-72 sm:max-w-72 
                    max-h-52 max-w-52
                    p-2 object-contain
                    "
                    >

                {% endfor %}
                </div>

        {% endif %}

    {% endif %}

{%endwith%}