{% load static %}


<div class="flex justify-center overflow-hidden">

    

    <div class=" flex justify-center items-center h-full py-20 flex-wrap w-96 lg:w-4/5 my-32 lg:my-0">
      <div id="profile" class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-100 mx-6 lg:mx-0">
        
        <a href="{% url 'aboutPage' %}">
        
        <div class="p-4 md:p-12 text-center lg:text-left cursor-pointer hover:bg-purple-100">
            <div class="block lg:hidden">
                <img
                src="{% static "content/About/myself.jpg" %}"
                alt="profilePic"
                class="rounded-full mx-auto -mt-16 w-48 bg-cover bg-center"
                />
            </div>
            <h1 class="text-4xl  pt-8 lg:pt-0 font-ttl font-light">Hallo! I am Maik</h1>

            <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>

            <p class="pt-8 text-sm font-body font-normal">
                Welcome to my portfolio. Below you will find my work experience and some of the
                projects I have worked on during my studies and while freelancing.
            </p></div>
        </div>
        </a>

        <div class="w-full lg:w-4/12 xl:w-3/12 hidden lg:block">
            <img src="{% static "content/About/myself.jpg" %}" alt="profilePic" class="rounded-lg"/>
        </div>
    </div>    

  </div>