<div class="p-10 gap-4 grid grid-cols-9 w-auto h-full text-xs">
 

  {% comment %} divider {% endcomment %}
  <div class="col-start-5 row-start-2 row-end-10 flex justify-center">
    <div class="w-px border border-green-500 opacity-25"></div>
  </div>
  
  <div class="pb-10 col-start-1 col-span-4 row-start-1 row-span-1 flex justify-end">
    <h1 class="text-2xl font-bold font-ttl">
      Experience
    </h1>
  </div>
  
  <div class="row-span-2 col-span-4 col-end-5 text-right leading-snug text-gray-900">
    <h1 class="text-base font-medium" >
      Tech Innovation Engineer & Software Development
      </h1>
      <p class="text-sm">Accenture, Amsterdam, Netherlands</p>
      <p class=" italic">since 04/2022</p>
    </div>

  <div class="row-span-2 col-span-4 col-end-5 text-right leading-snug text-gray-900">
    <h1 class="text-base font-medium" >
      Freelancing
    </h1>
    <p class="text-sm">Various, Eindhoven, Netherlands</p>
    <p class="italic">2019 - 2022</p>

  </div>
  
  <div class="row-span-2 col-span-4 col-end-5 text-right leading-snug text-gray-900">
    <h1 class="text-base font-medium" >
    UX/UI Internship

    </h1>
    <p class="text-sm">Valtech, Eindhoven, Netherlands</p>
    <p class="italic">09/2019 -01/2020</p>
  </div>

  <div class="row-span-2 col-span-4 col-end-5 text-right leading-snug text-gray-900">
    <h1 class="text-base font-medium" >
    Treeplanting 2nd season

    </h1>
    <p class="text-sm">Next Gen. Reforstation, Beaver Lodge, Canada</p>
    <p class="italic">04/2016 -08/2016</p>
  </div>

  <div class="pb-10 col-start-6 col-span-4 row-start-1 row-span-1 flex justify-start">
    <h1 class="row-span-1 text-2xl font-bold font-ttl">
    Education</h1>
  </div>
  
  <div class="row-span-2 row-start-2 col-span-4 col-start-6 text-left leading-snug text-gray-900">
    <h1 class="text-base font-medium" >
      Industrial Design M.Sc.
    </h1>
    <p class="text-sm">TU Eindhoven, Netherlands</p>
    <p class="italic">09/2019 -10/2021</p>
  </div>
  <div class="row-span-2 row-start-4 col-span-4 col-start-6 text-left leading-snug text-gray-900">
    <h1 class="text-base font-medium" >
      Industrial Design B.Sc.
    </h1>
    <p class="text-sm">TU Eindhoven, Netherlands</p>
    <p class="italic">09/2016 - 08/2019</p>
  </div>
  <div class="row-span-2 row-start-6 col-span-4 col-start-6 text-left leading-snug text-gray-900">
    <h1 class="text-base font-medium" >
    Carpenter dual vocational training/apprenticeship
    </h1>
    <p class="text-sm">Tischlerei Vollholz, Badenstedt Hannover, Germany</p>
    <p class="italic">09/2013 - 01/2016</p>
  </div>
  
</div>